language: cpp
compiler:
    - clang
notifications:
    email: false
before_install:
    - sudo add-apt-repository ppa:staticfloat/julia-deps -y
    - sudo add-apt-repository ppa:staticfloat/julianightlies -y
    - sudo apt-get update -qq -y
    - sudo apt-get install libpcre3-dev julia -y
    - git config --global user.name "Travis User"
    - git config --global user.email "travis@example.net"
script:
    - julia -e 'Pkg.init(); Pkg.add("Zlib", v"0.1.2"); run(`ln -s $(pwd()) $(Pkg.dir("ZipFile"))`); Pkg.pin("ZipFile"); Pkg.resolve()'
    - julia -e 'using ZipFile; @assert isdefined(:ZipFile); @assert typeof(ZipFile) === Module'
    - julia test/test.jl
